@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
/* font-family: 'Montserrat', sans-serif; */

* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

header {
  background: #745757b3;
  -webkit-box-shadow: 12px 10px 21px 9px rgba(34, 60, 80, 0.18);
  -moz-box-shadow: 12px 10px 21px 9px rgba(34, 60, 80, 0.18);
  box-shadow: 12px 10px 21px 9px rgba(34, 60, 80, 0.18);
  padding: 20px;
}
 header a {
  color: aquamarine;
  text-decoration: none;
  margin-left: 20px;
 }
.wrapper, header {
  width: 90vw;
  margin: 50px auto;
}

.home_page h1,.home_page p {
  margin-bottom: 10px;
}

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news .item {
  width: 30%;
  border: 1px solid silver;
  padding: 10px 15px;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;

}

.wrapper .item .img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 500ms ease;
}
.wrapper .item .img:hover {
  transform: scale(1.05);
}

footer {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

@media (max-width: 1100px) {
  .news .item {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .news .item {
    width: 90%;
  }
}